body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blog {
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.App {
  padding: 20px;
}

.main-footer {
  margin-top: 0.5rem;
  font-size: 14px;
  padding: 0.5rem;
  background-color: lightgray;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  text-align:center;
}

.main-body {
  margin-bottom: 100px;
}